DB_USER=Match from the docker Compose file
DB_NAME=Match from the docker Compose file
DB_PASSWORD=Match from the docker Compose file
DB_PORT=Match from the docker Compose file
DB_HOST=Match from the docker Compose file

SERVER_PORT=3000

REDIS_URL=redis://redis:6379
REDIS_HOST=redis
REDIS_PORT=6379